<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="col-md-10">
    <h1 class="text-primary font-weight-bold">¿Qué quieres buscar?</h1>
    <p class="mb-3">Encuentra la información que desees consultar ...</p>
    <form class="mb-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="¿Qué servicio quieres consultar?" aria-label="Buscar" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
      </div>
    </form>

    <div class="card p-4 flex-row">
      <div class="card-item px-2">
        <h3 class="text-primary font-weight-bold">Certificado</h3>
        <p>Conoce los beneficios que tenemos para ti al registrarte</p>
        <button type="button" class="btn btn-outline-success">Ver todo</button>
      </div>
      <div class="card-item px-2">
        <h3 class="text-primary font-weight-bold">Crear cuenta</h3>
        <p>Conoce los beneficios que tenemos para ti al registrarte</p>
        <button type="button" class="btn btn-outline-success">Ver todo</button>
      </div>
      <div class="card-item px-2">
        <h3 class="text-primary font-weight-bold">Top trámites</h3>
        <p>Conoce los beneficios que tenemos para ti al registrarte</p>
        <button type="button" class="btn btn-outline-success">Ver todo</button>
      </div>
    </div>
  </div>
</div>
